<div class="hero-unit">
	<h1>Welcome to Phoenix Prime</h1>
	<p>
		You've found the Home Page for 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>

	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
